*.log
*.svf
*.scr
*.cmd
*.bak
*.lso
*.elf
*.ace
*~
*#
*.swp
*.ini
*.html
*.vhi
*.wdb
*.stx
*.xmsgs
*.xreport
*.exe
*.cmd_log
*_beh.prj
*.ncd
isim
db
incremental_db
work
*.cr.mti
vsim.wlf
transcript
webtalk.log
webtalk_impact.xml
pepExtractor.prj
impact.xsl
impact_impact.xwbt

#ignore OS noise

Thumbs.db
.DS_Store

*.gise
*.xise
*.ngc
*.ngr
*.prj
*.syr
*.xst
*.xrpt
iseconfig/

oving1/_ngo/
oving1/src/DualPortMem.vhd
oving1/src/blk_mem_gen_ds512.pdf
oving1/xlnx_auto_0_xdb/

*.bgn
*.bit
*.bld
*.drc
*.ngd
*.pad
*.par
*.pcf
*.ptwx
*.twr
*.twx
*.unroutes
*.ut
*.xpi
*.xwbt
*.map
*.mrp
*.ngm
*.csv
*.txt
*.xml
*.xml
*.wcfg
*.asy
*.ncf
*.sym
*.v
*.veo
*.vho
*.tcl
*.cgc
*.cgp
