//! **************************************************************************
// Written by: Map M.81d on Thu Aug 27 21:31:25 2015
//! **************************************************************************

SCHEMATIC START;
CONFIG VCCAUX = "3.3";
COMP "UART_Rx" LOCATE = SITE "H13" LEVEL 1;
COMP "UART_Tx" LOCATE = SITE "H14" LEVEL 1;
COMP "reset" LOCATE = SITE "H18" LEVEL 1;
COMP "clk" LOCATE = SITE "K15" LEVEL 1;
COMP "leds<0>" LOCATE = SITE "J13" LEVEL 1;
COMP "leds<1>" LOCATE = SITE "K14" LEVEL 1;
COMP "leds<2>" LOCATE = SITE "U17" LEVEL 1;
COMP "leds<3>" LOCATE = SITE "U18" LEVEL 1;
PIN
        InstrBufferInst/RPNDataMemInst/BU2/U0/blk_mem_generator/valid.cstr/ramloop[0].ram.r/s6_noinit.ram/SDP.SIMPLE_PRIM9.ram_pins<26>
        = BEL
        "InstrBufferInst/RPNDataMemInst/BU2/U0/blk_mem_generator/valid.cstr/ramloop[0].ram.r/s6_noinit.ram/SDP.SIMPLE_PRIM9.ram"
        PINNAME CLKAWRCLK;
PIN
        InstrBufferInst/RPNDataMemInst/BU2/U0/blk_mem_generator/valid.cstr/ramloop[0].ram.r/s6_noinit.ram/SDP.SIMPLE_PRIM9.ram_pins<27>
        = BEL
        "InstrBufferInst/RPNDataMemInst/BU2/U0/blk_mem_generator/valid.cstr/ramloop[0].ram.r/s6_noinit.ram/SDP.SIMPLE_PRIM9.ram"
        PINNAME CLKBRDCLK;
TIMEGRP sys_clk_pin = BEL "RPNC/stack/stack_ptr_7" BEL
        "RPNC/stack/stack_ptr_6" BEL "RPNC/stack/stack_ptr_5" BEL
        "RPNC/stack/stack_ptr_4" BEL "RPNC/stack/stack_ptr_3" BEL
        "RPNC/stack/stack_ptr_2" BEL "RPNC/stack/stack_ptr_1" BEL
        "RPNC/stack/stack_ptr_0" BEL "RPNC/a_7" BEL "RPNC/a_6" BEL "RPNC/a_5"
        BEL "RPNC/a_4" BEL "RPNC/a_3" BEL "RPNC/a_2" BEL "RPNC/a_1" BEL
        "RPNC/a_0" BEL "RPNC/b_7" BEL "RPNC/b_6" BEL "RPNC/b_5" BEL "RPNC/b_4"
        BEL "RPNC/b_3" BEL "RPNC/b_2" BEL "RPNC/b_1" BEL "RPNC/b_0" BEL
        "RPNC/control/state_FSM_FFd1" BEL "RPNC/control/state_FSM_FFd2" BEL
        "RPNC/control/state_FSM_FFd3" BEL "RPNC/control/state_FSM_FFd6" BEL
        "RPNC/control/state_FSM_FFd4" BEL "RPNC/control/state_FSM_FFd5" BEL
        "RPNC/control/state_FSM_FFd7" BEL "RPNC/control/state_FSM_FFd8" BEL
        "RPNC/stack/store/stack_top_7" BEL "RPNC/stack/store/stack_top_6" BEL
        "RPNC/stack/store/stack_top_5" BEL "RPNC/stack/store/stack_top_4" BEL
        "RPNC/stack/store/stack_top_3" BEL "RPNC/stack/store/stack_top_2" BEL
        "RPNC/stack/store/stack_top_1" BEL "RPNC/stack/store/stack_top_0" BEL
        "InstrBufferInst/UARTHandlerInst/ut/bg/counter_15" BEL
        "InstrBufferInst/UARTHandlerInst/ut/bg/counter_14" BEL
        "InstrBufferInst/UARTHandlerInst/ut/bg/counter_13" BEL
        "InstrBufferInst/UARTHandlerInst/ut/bg/counter_12" BEL
        "InstrBufferInst/UARTHandlerInst/ut/bg/counter_11" BEL
        "InstrBufferInst/UARTHandlerInst/ut/bg/counter_10" BEL
        "InstrBufferInst/UARTHandlerInst/ut/bg/counter_9" BEL
        "InstrBufferInst/UARTHandlerInst/ut/bg/counter_8" BEL
        "InstrBufferInst/UARTHandlerInst/ut/bg/counter_7" BEL
        "InstrBufferInst/UARTHandlerInst/ut/bg/counter_6" BEL
        "InstrBufferInst/UARTHandlerInst/ut/bg/counter_5" BEL
        "InstrBufferInst/UARTHandlerInst/ut/bg/counter_4" BEL
        "InstrBufferInst/UARTHandlerInst/ut/bg/counter_3" BEL
        "InstrBufferInst/UARTHandlerInst/ut/bg/counter_2" BEL
        "InstrBufferInst/UARTHandlerInst/ut/bg/counter_1" BEL
        "InstrBufferInst/UARTHandlerInst/ut/bg/counter_0" BEL
        "InstrBufferInst/remainingInstructions_7" BEL
        "InstrBufferInst/remainingInstructions_6" BEL
        "InstrBufferInst/remainingInstructions_5" BEL
        "InstrBufferInst/remainingInstructions_4" BEL
        "InstrBufferInst/remainingInstructions_3" BEL
        "InstrBufferInst/remainingInstructions_2" BEL
        "InstrBufferInst/remainingInstructions_1" BEL
        "InstrBufferInst/remainingInstructions_0" BEL
        "InstrBufferInst/UARTHandlerInst/ut/bg/ce16" BEL
        "InstrBufferInst/currentReadAddr_7" BEL
        "InstrBufferInst/currentReadAddr_6" BEL
        "InstrBufferInst/currentReadAddr_5" BEL
        "InstrBufferInst/currentReadAddr_4" BEL
        "InstrBufferInst/currentReadAddr_3" BEL
        "InstrBufferInst/currentReadAddr_2" BEL
        "InstrBufferInst/currentReadAddr_1" BEL
        "InstrBufferInst/currentReadAddr_0" BEL
        "InstrBufferInst/RPNCResetSignal" BEL
        "InstrBufferInst/UARTHandlerInst/up/txSm_FSM_FFd1" BEL
        "InstrBufferInst/UARTHandlerInst/up/txSm_FSM_FFd2" BEL
        "InstrBufferInst/UARTHandlerInst/up/binByteCount_7" BEL
        "InstrBufferInst/UARTHandlerInst/up/binByteCount_6" BEL
        "InstrBufferInst/UARTHandlerInst/up/binByteCount_5" BEL
        "InstrBufferInst/UARTHandlerInst/up/binByteCount_4" BEL
        "InstrBufferInst/UARTHandlerInst/up/binByteCount_3" BEL
        "InstrBufferInst/UARTHandlerInst/up/binByteCount_2" BEL
        "InstrBufferInst/UARTHandlerInst/up/binByteCount_1" BEL
        "InstrBufferInst/UARTHandlerInst/up/binByteCount_0" BEL
        "InstrBufferInst/UARTHandlerInst/up/txSm_FSM_FFd3" BEL
        "InstrBufferInst/UARTHandlerInst/up/mainSm_FSM_FFd1" BEL
        "InstrBufferInst/UARTHandlerInst/up/mainSm_FSM_FFd2" BEL
        "InstrBufferInst/UARTHandlerInst/up/mainSm_FSM_FFd3" BEL
        "InstrBufferInst/UARTHandlerInst/up/mainSm_FSM_FFd4" BEL
        "InstrBufferInst/UARTHandlerInst/up/txData_7" BEL
        "InstrBufferInst/UARTHandlerInst/up/txData_6" BEL
        "InstrBufferInst/UARTHandlerInst/up/txData_5" BEL
        "InstrBufferInst/UARTHandlerInst/up/txData_4" BEL
        "InstrBufferInst/UARTHandlerInst/up/txData_3" BEL
        "InstrBufferInst/UARTHandlerInst/up/txData_2" BEL
        "InstrBufferInst/UARTHandlerInst/up/txData_1" BEL
        "InstrBufferInst/UARTHandlerInst/up/txData_0" BEL
        "InstrBufferInst/UARTHandlerInst/up/iIntAddress_15" BEL
        "InstrBufferInst/UARTHandlerInst/up/iIntAddress_14" BEL
        "InstrBufferInst/UARTHandlerInst/up/iIntAddress_13" BEL
        "InstrBufferInst/UARTHandlerInst/up/iIntAddress_12" BEL
        "InstrBufferInst/UARTHandlerInst/up/iIntAddress_11" BEL
        "InstrBufferInst/UARTHandlerInst/up/iIntAddress_10" BEL
        "InstrBufferInst/UARTHandlerInst/up/iIntAddress_9" BEL
        "InstrBufferInst/UARTHandlerInst/up/iIntAddress_8" BEL
        "InstrBufferInst/UARTHandlerInst/up/iIntAddress_7" BEL
        "InstrBufferInst/UARTHandlerInst/up/iIntAddress_6" BEL
        "InstrBufferInst/UARTHandlerInst/up/iIntAddress_5" BEL
        "InstrBufferInst/UARTHandlerInst/up/iIntAddress_4" BEL
        "InstrBufferInst/UARTHandlerInst/up/iIntAddress_3" BEL
        "InstrBufferInst/UARTHandlerInst/up/iIntAddress_2" BEL
        "InstrBufferInst/UARTHandlerInst/up/iIntAddress_1" BEL
        "InstrBufferInst/UARTHandlerInst/up/iIntAddress_0" BEL
        "InstrBufferInst/UARTHandlerInst/up/newTxData" BEL
        "InstrBufferInst/UARTHandlerInst/up/addrParam_15" BEL
        "InstrBufferInst/UARTHandlerInst/up/addrParam_14" BEL
        "InstrBufferInst/UARTHandlerInst/up/addrParam_13" BEL
        "InstrBufferInst/UARTHandlerInst/up/addrParam_12" BEL
        "InstrBufferInst/UARTHandlerInst/up/addrParam_11" BEL
        "InstrBufferInst/UARTHandlerInst/up/addrParam_10" BEL
        "InstrBufferInst/UARTHandlerInst/up/addrParam_9" BEL
        "InstrBufferInst/UARTHandlerInst/up/addrParam_8" BEL
        "InstrBufferInst/UARTHandlerInst/up/addrParam_7" BEL
        "InstrBufferInst/UARTHandlerInst/up/addrParam_6" BEL
        "InstrBufferInst/UARTHandlerInst/up/addrParam_5" BEL
        "InstrBufferInst/UARTHandlerInst/up/addrParam_4" BEL
        "InstrBufferInst/UARTHandlerInst/up/addrParam_3" BEL
        "InstrBufferInst/UARTHandlerInst/up/addrParam_2" BEL
        "InstrBufferInst/UARTHandlerInst/up/addrParam_1" BEL
        "InstrBufferInst/UARTHandlerInst/up/addrParam_0" BEL
        "InstrBufferInst/UARTHandlerInst/up/readDoneS" BEL
        "InstrBufferInst/UARTHandlerInst/up/readDataS_7" BEL
        "InstrBufferInst/UARTHandlerInst/up/readDataS_6" BEL
        "InstrBufferInst/UARTHandlerInst/up/readDataS_5" BEL
        "InstrBufferInst/UARTHandlerInst/up/readDataS_4" BEL
        "InstrBufferInst/UARTHandlerInst/up/readDataS_3" BEL
        "InstrBufferInst/UARTHandlerInst/up/readDataS_2" BEL
        "InstrBufferInst/UARTHandlerInst/up/readDataS_1" BEL
        "InstrBufferInst/UARTHandlerInst/up/readDataS_0" BEL
        "InstrBufferInst/UARTHandlerInst/up/readDone" BEL
        "InstrBufferInst/UARTHandlerInst/up/intWrData_7" BEL
        "InstrBufferInst/UARTHandlerInst/up/intWrData_6" BEL
        "InstrBufferInst/UARTHandlerInst/up/intWrData_5" BEL
        "InstrBufferInst/UARTHandlerInst/up/intWrData_4" BEL
        "InstrBufferInst/UARTHandlerInst/up/intWrData_3" BEL
        "InstrBufferInst/UARTHandlerInst/up/intWrData_2" BEL
        "InstrBufferInst/UARTHandlerInst/up/intWrData_1" BEL
        "InstrBufferInst/UARTHandlerInst/up/intWrData_0" BEL
        "InstrBufferInst/UARTHandlerInst/up/iIntRead" BEL
        "InstrBufferInst/UARTHandlerInst/up/iIntWrite" BEL
        "InstrBufferInst/UARTHandlerInst/up/iReadReq" BEL
        "InstrBufferInst/UARTHandlerInst/up/dataParam_7" BEL
        "InstrBufferInst/UARTHandlerInst/up/dataParam_6" BEL
        "InstrBufferInst/UARTHandlerInst/up/dataParam_5" BEL
        "InstrBufferInst/UARTHandlerInst/up/dataParam_4" BEL
        "InstrBufferInst/UARTHandlerInst/up/dataParam_3" BEL
        "InstrBufferInst/UARTHandlerInst/up/dataParam_2" BEL
        "InstrBufferInst/UARTHandlerInst/up/dataParam_1" BEL
        "InstrBufferInst/UARTHandlerInst/up/dataParam_0" BEL
        "InstrBufferInst/UARTHandlerInst/up/iWriteReq" BEL
        "InstrBufferInst/UARTHandlerInst/up/addrAutoInc" BEL
        "InstrBufferInst/UARTHandlerInst/up/sendStatFlag" BEL
        "InstrBufferInst/UARTHandlerInst/up/binWriteOp" BEL
        "InstrBufferInst/UARTHandlerInst/up/binReadOp" BEL
        "InstrBufferInst/UARTHandlerInst/up/writeOp" BEL
        "InstrBufferInst/UARTHandlerInst/up/readOp" BEL
        "InstrBufferInst/UARTHandlerInst/up/sTxBusy" BEL
        "InstrBufferInst/UARTHandlerInst/ut/ut/count16_3" BEL
        "InstrBufferInst/UARTHandlerInst/ut/ut/count16_2" BEL
        "InstrBufferInst/UARTHandlerInst/ut/ut/count16_1" BEL
        "InstrBufferInst/UARTHandlerInst/ut/ut/count16_0" BEL
        "InstrBufferInst/UARTHandlerInst/ut/ut/bitCount_3" BEL
        "InstrBufferInst/UARTHandlerInst/ut/ut/bitCount_2" BEL
        "InstrBufferInst/UARTHandlerInst/ut/ut/bitCount_1" BEL
        "InstrBufferInst/UARTHandlerInst/ut/ut/bitCount_0" BEL
        "InstrBufferInst/UARTHandlerInst/ut/ut/serOut" BEL
        "InstrBufferInst/UARTHandlerInst/ut/ut/dataBuf_8" BEL
        "InstrBufferInst/UARTHandlerInst/ut/ut/dataBuf_7" BEL
        "InstrBufferInst/UARTHandlerInst/ut/ut/dataBuf_6" BEL
        "InstrBufferInst/UARTHandlerInst/ut/ut/dataBuf_5" BEL
        "InstrBufferInst/UARTHandlerInst/ut/ut/dataBuf_4" BEL
        "InstrBufferInst/UARTHandlerInst/ut/ut/dataBuf_3" BEL
        "InstrBufferInst/UARTHandlerInst/ut/ut/dataBuf_2" BEL
        "InstrBufferInst/UARTHandlerInst/ut/ut/dataBuf_1" BEL
        "InstrBufferInst/UARTHandlerInst/ut/ut/dataBuf_0" BEL
        "InstrBufferInst/UARTHandlerInst/ut/ut/iTxBusy" BEL
        "InstrBufferInst/UARTHandlerInst/ut/ur/bitCount_3" BEL
        "InstrBufferInst/UARTHandlerInst/ut/ur/bitCount_2" BEL
        "InstrBufferInst/UARTHandlerInst/ut/ur/bitCount_1" BEL
        "InstrBufferInst/UARTHandlerInst/ut/ur/bitCount_0" BEL
        "InstrBufferInst/UARTHandlerInst/ut/ur/count16_3" BEL
        "InstrBufferInst/UARTHandlerInst/ut/ur/count16_2" BEL
        "InstrBufferInst/UARTHandlerInst/ut/ur/count16_1" BEL
        "InstrBufferInst/UARTHandlerInst/ut/ur/count16_0" BEL
        "InstrBufferInst/UARTHandlerInst/ut/ur/rxData_7" BEL
        "InstrBufferInst/UARTHandlerInst/ut/ur/rxData_6" BEL
        "InstrBufferInst/UARTHandlerInst/ut/ur/rxData_5" BEL
        "InstrBufferInst/UARTHandlerInst/ut/ur/rxData_4" BEL
        "InstrBufferInst/UARTHandlerInst/ut/ur/rxData_3" BEL
        "InstrBufferInst/UARTHandlerInst/ut/ur/rxData_2" BEL
        "InstrBufferInst/UARTHandlerInst/ut/ur/rxData_1" BEL
        "InstrBufferInst/UARTHandlerInst/ut/ur/rxData_0" BEL
        "InstrBufferInst/UARTHandlerInst/ut/ur/dataBuf_7" BEL
        "InstrBufferInst/UARTHandlerInst/ut/ur/dataBuf_6" BEL
        "InstrBufferInst/UARTHandlerInst/ut/ur/dataBuf_5" BEL
        "InstrBufferInst/UARTHandlerInst/ut/ur/dataBuf_4" BEL
        "InstrBufferInst/UARTHandlerInst/ut/ur/dataBuf_3" BEL
        "InstrBufferInst/UARTHandlerInst/ut/ur/dataBuf_2" BEL
        "InstrBufferInst/UARTHandlerInst/ut/ur/dataBuf_1" BEL
        "InstrBufferInst/UARTHandlerInst/ut/ur/dataBuf_0" BEL
        "InstrBufferInst/UARTHandlerInst/ut/ur/rxBusy" BEL
        "InstrBufferInst/UARTHandlerInst/ut/ur/newRxData" BEL
        "InstrBufferInst/UARTHandlerInst/ut/ur/inSync_1" BEL
        "InstrBufferInst/UARTHandlerInst/ut/ur/inSync_0" BEL "clk_BUFGP/BUFG"
        PIN
        "InstrBufferInst/RPNDataMemInst/BU2/U0/blk_mem_generator/valid.cstr/ramloop[0].ram.r/s6_noinit.ram/SDP.SIMPLE_PRIM9.ram_pins<26>"
        PIN
        "InstrBufferInst/RPNDataMemInst/BU2/U0/blk_mem_generator/valid.cstr/ramloop[0].ram.r/s6_noinit.ram/SDP.SIMPLE_PRIM9.ram_pins<27>"
        BEL "RPNC/stack/store/Mram_ram122/SP" BEL
        "RPNC/stack/store/Mram_ram122/DP" BEL
        "RPNC/stack/store/Mram_ram121/SP" BEL
        "RPNC/stack/store/Mram_ram121/DP" BEL
        "RPNC/stack/store/Mram_ram111/SP" BEL
        "RPNC/stack/store/Mram_ram111/DP" BEL
        "RPNC/stack/store/Mram_ram102/SP" BEL
        "RPNC/stack/store/Mram_ram102/DP" BEL
        "RPNC/stack/store/Mram_ram112/SP" BEL
        "RPNC/stack/store/Mram_ram112/DP" BEL "RPNC/stack/store/Mram_ram92/SP"
        BEL "RPNC/stack/store/Mram_ram92/DP" BEL
        "RPNC/stack/store/Mram_ram91/SP" BEL "RPNC/stack/store/Mram_ram91/DP"
        BEL "RPNC/stack/store/Mram_ram101/SP" BEL
        "RPNC/stack/store/Mram_ram101/DP" BEL
        "RPNC/stack/store/Mram_ram1_RAMA" BEL
        "RPNC/stack/store/Mram_ram1_RAMB" BEL
        "RPNC/stack/store/Mram_ram1_RAMC" BEL
        "RPNC/stack/store/Mram_ram1_RAMD" BEL
        "RPNC/stack/store/Mram_ram2_RAMA" BEL
        "RPNC/stack/store/Mram_ram2_RAMB" BEL
        "RPNC/stack/store/Mram_ram2_RAMC" BEL
        "RPNC/stack/store/Mram_ram2_RAMD" BEL
        "RPNC/stack/store/Mram_ram3_RAMA" BEL
        "RPNC/stack/store/Mram_ram3_RAMB" BEL
        "RPNC/stack/store/Mram_ram3_RAMC" BEL
        "RPNC/stack/store/Mram_ram3_RAMD" BEL
        "RPNC/stack/store/Mram_ram4_RAMA" BEL
        "RPNC/stack/store/Mram_ram4_RAMB" BEL
        "RPNC/stack/store/Mram_ram4_RAMC" BEL
        "RPNC/stack/store/Mram_ram4_RAMD" BEL
        "RPNC/stack/store/Mram_ram5_RAMA" BEL
        "RPNC/stack/store/Mram_ram5_RAMB" BEL
        "RPNC/stack/store/Mram_ram5_RAMC" BEL
        "RPNC/stack/store/Mram_ram5_RAMD" BEL
        "RPNC/stack/store/Mram_ram6_RAMA" BEL
        "RPNC/stack/store/Mram_ram6_RAMB" BEL
        "RPNC/stack/store/Mram_ram6_RAMC" BEL
        "RPNC/stack/store/Mram_ram6_RAMD" BEL
        "RPNC/stack/store/Mram_ram7_RAMA" BEL
        "RPNC/stack/store/Mram_ram7_RAMB" BEL
        "RPNC/stack/store/Mram_ram7_RAMC" BEL
        "RPNC/stack/store/Mram_ram7_RAMD" BEL
        "RPNC/stack/store/Mram_ram8_RAMA" BEL
        "RPNC/stack/store/Mram_ram8_RAMB" BEL
        "RPNC/stack/store/Mram_ram8_RAMC" BEL
        "RPNC/stack/store/Mram_ram8_RAMD";
TS_sys_clk_pin = PERIOD TIMEGRP "sys_clk_pin" 24 MHz HIGH 50%;
PIN reset_pins<0> = BEL "reset" PINNAME PAD;
PIN "reset_pins<0>" TIG;
SCHEMATIC END;

